Repository SantoGuru/Recycle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SantoGuru, @waltherpires, @EVANGLarissa

.github/CODEOWNERS:

# --------------------------------------------------------------------

# Regras de Propriedade do Código

#

# Este arquivo define quem são os revisores padrão para cada parte

# do projeto. As descrições ajudam a entender o papel de cada pessoa.

# --------------------------------------------------------------------



# RESPONSABILIDADE DOS OWNERS

# @SantoGuru -> Project Manager (PM) e Dev Full Stack (foco no backend), responsável pelas alterações no backend, governança do projeto e CI/CD.

# @waltherpires -> Product Owner (PO) e Dev Full Stack (foco no frontend), responsável pelas alterações no frontend e alterações de dependências/arquitetura

# @EVANGLarissa -> Dev frontend, responsável pela documentação técnica e de processos.



# Arquivos de governança e documentação principal

/CONTRIBUTING.md @SantoGuru

/README.md @SantoGuru



# .gitignore será gerenciado tanto pelo PO quanto pelo PM

/.gitignore @SantoGuru @waltherpires



# --- Código Fonte e Documentação ---

/frontend/ @waltherpires

/backend/ @SantoGuru

/docs/ @EVANGLarissa



# --- Configurações do Repositório ---

/.github/ @SantoGuru

FIX: Implementar Filtro de Segurança para Isolar Dados por Tenant
  backend/src/main/java/br/com/recycle/backend/security/TenantSecurityFilter.java
Owners: @SantoGuru

FIX: Implementar Filtro de Segurança para Isolar Dados por Tenant
  backend/src/main/java/br/com/recycle/backend/security/TenantSecurityFilter.java
Owners: @SantoGuru

Documentação das telas de mlehorias
  docs/Aplicativo EcoStock - Documentação de melhoria das telas de Inicio, Login, Home.pdf
Owners: @EVANGLarissa

Add files via upload
  backend/src/main/java/br/com/recycle/backend/config/SecurityConfig.java
  backend/src/main/java/br/com/recycle/backend/controller/UsuarioController.java
  backend/src/main/java/br/com/recycle/backend/dto/ApiErrorDTO.java
  backend/src/main/java/br/com/recycle/backend/security/CustomAccessDeniedHandler.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

Feat: Alterado tela de login para poder cadastrar empresa e administrador
  frontend/src/pages/Signup.jsx
Owners: @waltherpires

feat: tela de cadastar funcionario
  mobile/app/(auth)/inicio.tsx
  mobile/app/(tabs)/cadastroFuncionario.tsx
  mobile/app/(tabs)/index.tsx
  mobile/context/AuthContext.tsx
  mobile/http.ts
  mobile/package-lock.json
Owners: none

feat: Alterado arquivo de Cadastro de fucnionarios
  mobile/app/(auth)/inicio.tsx
  mobile/app/(tabs)/cadastroFuncionario.tsx
Owners: none

fix: corrige problema de limitacao de rotas privadas
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
Owners: none

feat: inicio criacao tela funcionarios
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

feat: cria tela de listagem de funcionarios
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/components/CustomPagination.tsx
  mobile/components/ui/IconCard.tsx
Owners: none

fix: adiciona comentarios de fix para proximas sprints
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

fix: corrige erro ao mudar linhas da tabela
  mobile/app/(tabs)/(home)/funcionarios.tsx
Owners: none

fiz: Acesso a tela de cadastro funcionario somente logado ccomentado para implementação posterior
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
Owners: none

Adicionada rota de acesso público para Registro
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
Owners: @SantoGuru

Adicionada as funções de autorizações atualizadas
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

style: modifica tela inicial do app
  mobile/app/(auth)/inicio.tsx
  mobile/assets/images/recycle-logo.png
Owners: none

feat(Service): Criar funcionario OPERADOR vinculado a empresa
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
Owners: @SantoGuru

feat(controller): Endpoint Criar Funcionario (Apenas GERENTE)
  backend/src/main/java/br/com/recycle/backend/controller/FuncionarioController.java
Owners: @SantoGuru

feat/RegistroDTO
  backend/src/main/java/br/com/recycle/backend/dto/RegistroDTO.java
Owners: @SantoGuru

feat/RegistroDTO
  backend/src/main/java/br/com/recycle/backend/dto/RegistroDTO.java
Owners: @SantoGuru

feat(auth): incluir role e empresa no TokenDTO no login
  backend/src/main/java/br/com/recycle/backend/dto/TokenDTO.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

feat: Implementa DTO provisorio de funcionario
  backend/src/main/java/br/com/recycle/backend/dto/FuncionarioDTO.java
Owners: @SantoGuru

feat: Implementa listagem de funcionario
  backend/src/main/java/br/com/recycle/backend/controller/FuncionarioController.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
Owners: @SantoGuru

feat: Implementa listagem de funcionario
  backend/src/main/java/br/com/recycle/backend/controller/FuncionarioController.java
Owners: @SantoGuru

homologacao das funcionalidades
  docs/Aplicativo EcoStock - Doc das Funcionalidades Mobile e WEB.pdf
Owners: @EVANGLarissa

fix: remove preAuthorize de metodo de registro
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
Owners: @SantoGuru

fix: corrige tokendto para passar os dados
  backend/src/main/java/br/com/recycle/backend/dto/TokenDTO.java
Owners: @SantoGuru

fix: adiciona empresa e role a session do context
  mobile/context/AuthContext.tsx
Owners: none

fix(home): corrige verificacao de role para exibir botoes
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

feat: adiciona cabecalho de boas vindas na tela home
  mobile/app/(tabs)/(home)/index.tsx
  mobile/assets/images/adaptive-icon.png
  mobile/assets/images/favicon.png
  mobile/assets/images/icon.png
  mobile/assets/images/partial-react-logo.png
  mobile/assets/images/react-logo.png
  mobile/assets/images/react-logo@2x.png
  mobile/assets/images/react-logo@3x.png
  mobile/assets/images/splash-icon.png
Owners: none

feat: adiciona resumo dashboard
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

fix: correcao tamanho dos cards de resumo
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

style: troca cor de valor monetario
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

fix: conexao com o back feita apra a criacao de funcionario
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
Owners: none

feat: integra tela de funcionarios com backend
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

feat: adiciona listagem de entradas e saidas para cada funcionario
  backend/src/main/java/br/com/recycle/backend/controller/FuncionarioController.java
  backend/src/main/java/br/com/recycle/backend/dto/FuncionarioComMovimentacoesDTO.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
Owners: @SantoGuru

fix: corrige a integracao para receber funcionarios com movimentacoes
  mobile/app/(tabs)/(home)/funcionarios.tsx
Owners: none

feat: adiciona integracao para resumo de dashboard
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

feat: filtra dados do dashboard por empresa do usuario autenticado
  backend/src/main/java/br/com/recycle/backend/repository/EstoqueRepository.java
  backend/src/main/java/br/com/recycle/backend/service/EstoqueService.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
Owners: @SantoGuru

style: melhora estilo do IconCard
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/components/ui/IconCard.tsx
Owners: none
