Repository SantoGuru/Recycle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SantoGuru, @waltherpires, @EVANGLarissa

.github/CODEOWNERS:

# --------------------------------------------------------------------

# Regras de Propriedade do Código

#

# Este arquivo define quem são os revisores padrão para cada parte

# do projeto. As descrições ajudam a entender o papel de cada pessoa.

# --------------------------------------------------------------------



# RESPONSABILIDADE DOS OWNERS

# @SantoGuru -> Project Manager (PM) e Dev Full Stack (foco no backend), responsável pelas alterações no backend, governança do projeto e CI/CD.

# @waltherpires -> Product Owner (PO) e Dev Full Stack (foco no frontend), responsável pelas alterações no frontend e alterações de dependências/arquitetura

# @EVANGLarissa -> Dev frontend, responsável pela documentação técnica e de processos.



# Arquivos de governança e documentação principal

/CONTRIBUTING.md @SantoGuru

/README.md @SantoGuru



# .gitignore será gerenciado tanto pelo PO quanto pelo PM

/.gitignore @SantoGuru @waltherpires



# --- Código Fonte e Documentação ---

/frontend/ @waltherpires

/backend/ @SantoGuru

/docs/ @EVANGLarissa



# --- Configurações do Repositório ---

/.github/ @SantoGuru

style(web): modifica paleta de cores da aplicacao web
  frontend/index.html
  frontend/src/components/ui/Navbar.jsx
  frontend/src/index.css
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/LandPage.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Material/EditMaterial.jsx
  frontend/src/pages/Material/Materials.jsx
  frontend/src/pages/Material/NewMaterialModal.jsx
  frontend/src/pages/SaidaMaterial.jsx
  frontend/src/pages/Signup.jsx
  frontend/src/pages/Stock.jsx
Owners: @waltherpires

fix: corrige sombra da card na tela inicial mobile
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

style: modificacoes estilo tela landpage
  frontend/src/assets/mockup-iphone-recycle.png
  frontend/src/pages/LandPage.jsx
Owners: @waltherpires

feat: Criacao de tela de cadastro de materiais
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroMaterial.tsx
  mobile/app/(tabs)/(home)/index.tsx
Owners: none

Update cadastroMaterial.tsx
  mobile/app/(tabs)/(home)/cadastroMaterial.tsx
Owners: none

fix: corrige erro ao receber No Content em tela estoque
  frontend/src/pages/Stock.jsx
Owners: @waltherpires

fix: remove erro de undefined para loaderDialog
  frontend/src/components/routes/PrivateRoute.jsx
  frontend/src/components/routes/PublicRoute.jsx
  frontend/src/components/ui/LoaderDialog.jsx
Owners: @waltherpires

fix: corrige campo de select para usar defaultValue
  frontend/src/pages/Material/NewMaterialModal.jsx
Owners: @waltherpires

Feat: Tela para vizualizar materiais
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/(home)/material.tsx
Owners: none

Feedback de erros para o usuário
  frontend/src/http.jsx
  frontend/src/pages/Signup.jsx
Owners: @waltherpires

Exceções das validações de Registro
  backend/src/main/java/br/com/recycle/backend/config/GlobalExceptionHandler.java
  backend/src/main/java/br/com/recycle/backend/dto/ErrorDTO.java
  backend/src/main/java/br/com/recycle/backend/dto/RegistroDTO.java
Owners: @SantoGuru

implementação de filtros
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/repository/EntradaRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/EstoqueRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/MaterialRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/SaidaRepository.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
  backend/src/main/java/br/com/recycle/backend/service/EstoqueService.java
  backend/src/main/java/br/com/recycle/backend/service/MaterialService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
Owners: @SantoGuru

feat: implementação para verificar empresa já existente
  backend/src/main/java/br/com/recycle/backend/repository/EmpresaRepository.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

fix: correção pra integração com o funcionario
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
Owners: @SantoGuru

fix: adicionando s no exist
  backend/src/main/java/br/com/recycle/backend/repository/EmpresaRepository.java
Owners: @SantoGuru

fix: adicionando s no exist
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

Task(#152) pagination
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/repository/EntradaRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/EstoqueRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/MaterialRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/SaidaRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/UsuarioRepository.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
  backend/src/main/java/br/com/recycle/backend/service/EstoqueService.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
  backend/src/main/java/br/com/recycle/backend/service/MaterialService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
Owners: @SantoGuru

documentacao_materiais
  docs/Aplicativo EcoStock - Funcionalidade de Material.pdf
Owners: @EVANGLarissa

feat: implementa tela Entradas e tela CadastroEntrada
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroEntrada.tsx
  mobile/app/(tabs)/(home)/entradas.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/package-lock.json
  mobile/package.json
  mobile/utils/date-formatter.ts
Owners: none

Feat: Adicionado tela de estoque
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/estoque.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/package-lock.json
Owners: none

feat/CadastroSaida
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroSaida.tsx
  mobile/app/(tabs)/(home)/estoque.tsx
Owners: none

documentacao_tecnica_mob_v_1.0
  docs/[Recycle] Documento Técnico Mobile - v.1.0.pdf
Owners: @EVANGLarissa

fix: ajustes e atualização de paginação em endpoints de listagem
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
  backend/src/main/java/br/com/recycle/backend/controller/FuncionarioController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/repository/EntradaRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/EstoqueRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/MaterialRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/SaidaRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/UsuarioRepository.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
  backend/src/main/java/br/com/recycle/backend/service/EstoqueService.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
  backend/src/main/java/br/com/recycle/backend/service/MaterialService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
Owners: @SantoGuru

fix: Correções e otimização de código
  backend/src/main/java/br/com/recycle/backend/model/Material.java
  backend/src/main/java/br/com/recycle/backend/repository/EstoqueRepository.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
Owners: @SantoGuru

fix: remove erro ao criar entrada
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
Owners: @SantoGuru

feat: adiciona mask para cnpj
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CnpjInput.jsx
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/Signup.jsx
Owners: @waltherpires

feat: adiciona tela de funcionario + modal para criar funcionario
  frontend/src/App.jsx
  frontend/src/components/CreateFuncionarioDialog.jsx
  frontend/src/components/ui/Navbar.jsx
  frontend/src/index.css
  frontend/src/pages/Employees.jsx
  frontend/src/pages/Material/Materials.jsx
  frontend/src/store/AuthContext.jsx
Owners: @waltherpires

fix: altera movimentacoes para exibir por empresa + tela movimentacoes (web)
  backend/src/main/java/br/com/recycle/backend/dto/EntradaResponseDTO.java
  backend/src/main/java/br/com/recycle/backend/dto/SaidaResponseDTO.java
  backend/src/main/java/br/com/recycle/backend/repository/EntradaRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/EstoqueRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/MaterialRepository.java
  backend/src/main/java/br/com/recycle/backend/repository/SaidaRepository.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
  backend/src/main/java/br/com/recycle/backend/service/EstoqueService.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioMovimentacaoService.java
  backend/src/main/java/br/com/recycle/backend/service/FuncionarioService.java
  backend/src/main/java/br/com/recycle/backend/service/MaterialService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
  frontend/src/App.jsx
  frontend/src/components/TransactionsTable.jsx
  frontend/src/components/ui/Navbar.jsx
  frontend/src/pages/Employees.jsx
  frontend/src/pages/InventoryTransactions.jsx
Owners: @SantoGuru, @waltherpires

feat: melhorias UI e adiciona modal para ver detalhes
  mobile/app/(auth)/inicio.tsx
  mobile/app/(auth)/login.tsx
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroEntrada.tsx
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
  mobile/app/(tabs)/(home)/cadastroMaterial.tsx
  mobile/app/(tabs)/(home)/entradas.tsx
  mobile/app/(tabs)/(home)/estoque.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/(home)/movimentacoes.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/components/ModalTooltip.tsx
  mobile/components/ui/IconCard.tsx
Owners: none

feat: adiciona conversoes de data e dinheiro
  mobile/app/(tabs)/(home)/cadastroSaida.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/utils/currencyr-formatter.ts
  mobile/utils/date-formatter.ts
Owners: none

feat: recarrega tabelas ao criar novo registro
  mobile/app/(tabs)/(home)/estoque.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/(home)/material.tsx
  mobile/app/(tabs)/(home)/movimentacoes.tsx
Owners: none

feat: adiciona searchbar para filtros em tabelas
  mobile/app/(tabs)/(home)/estoque.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/material.tsx
  mobile/app/(tabs)/(home)/movimentacoes.tsx
Owners: none

saida.melhorias_mensagens_de_erro
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
  frontend/src/pages/SaidaMaterial.jsx
Owners: @SantoGuru, @waltherpires

fix: recebe mensagens de erro do backend para mobile
  mobile/app/(auth)/login.tsx
  mobile/app/(tabs)/(home)/cadastroEntrada.tsx
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
  mobile/app/(tabs)/(home)/cadastroMaterial.tsx
  mobile/app/(tabs)/(home)/cadastroSaida.tsx
  mobile/app/(tabs)/(home)/estoque.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/(home)/material.tsx
  mobile/app/(tabs)/(home)/movimentacoes.tsx
  mobile/utils/api.ts
Owners: none

Exibir erros enviados pelo backend
  frontend/src/components/CreateFuncionarioDialog.jsx
  frontend/src/http.jsx
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/SaidaMaterial.jsx
  frontend/src/pages/Signup.jsx
Owners: @waltherpires

style: melhora errorMessages / altera IconCards / melhora homePage / toggles para filtro
  mobile/app/(auth)/login.tsx
  mobile/app/(tabs)/(home)/_layout.tsx
  mobile/app/(tabs)/(home)/cadastroEntrada.tsx
  mobile/app/(tabs)/(home)/cadastroFuncionario.tsx
  mobile/app/(tabs)/(home)/cadastroMaterial.tsx
  mobile/app/(tabs)/(home)/cadastroSaida.tsx
  mobile/app/(tabs)/(home)/estoque.tsx
  mobile/app/(tabs)/(home)/funcionarios.tsx
  mobile/app/(tabs)/(home)/index.tsx
  mobile/app/(tabs)/(home)/material.tsx
  mobile/app/(tabs)/(home)/movimentacoes.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/components/AppErrorMessage.tsx
  mobile/components/ui/IconCard.tsx
Owners: none

feat: inclusao do modal para editar material
  mobile/app/(tabs)/(home)/material.tsx
  mobile/components/ModalTooltip.tsx
Owners: none

style: altera estilo botao editar material
  mobile/app/(tabs)/(home)/material.tsx
Owners: none

Correcao de mensagens de erro na tela de saida
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
  docs/[Recycle] Documento Técnico Mobile - v.1.0.pdf
  docs/[Recycle] Documento Técnico Mobile - v.1.3.pdf
Owners: @SantoGuru, @EVANGLarissa

docs/AuthController.java
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
Owners: @SantoGuru
