Repository SantoGuru/Recycle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SantoGuru, @waltherpires, @EVANGLarissa

.github/CODEOWNERS:

# --------------------------------------------------------------------

# Regras de Propriedade do Código

#

# Este arquivo define quem são os revisores padrão para cada parte

# do projeto. As descrições ajudam a entender o papel de cada pessoa.

# --------------------------------------------------------------------



# RESPONSABILIDADE DOS OWNERS

# @SantoGuru -> Project Manager (PM) e Dev Full Stack (foco no backend), responsável pelas alterações no backend, governança do projeto e CI/CD.

# @waltherpires -> Product Owner (PO) e Dev Full Stack (foco no frontend), responsável pelas alterações no frontend e alterações de dependências/arquitetura

# @EVANGLarissa -> Dev frontend, responsável pela documentação técnica e de processos.



# Arquivos de governança e documentação principal

/CONTRIBUTING.md @SantoGuru

/README.md @SantoGuru



# .gitignore será gerenciado tanto pelo PO quanto pelo PM

/.gitignore @SantoGuru @waltherpires



# --- Código Fonte e Documentação ---

/frontend/ @waltherpires

/backend/ @SantoGuru

/docs/ @EVANGLarissa



# --- Configurações do Repositório ---

/.github/ @SantoGuru

feat: configura setup inicial mobile
  mobile/.gitignore
  mobile/README.md
  mobile/app.json
  mobile/app/(tabs)/_layout.tsx
  mobile/app/+not-found.tsx
  mobile/app/_layout.tsx
  mobile/assets/fonts/SpaceMono-Regular.ttf
  mobile/assets/images/adaptive-icon.png
  mobile/assets/images/favicon.png
  mobile/assets/images/icon.png
  mobile/assets/images/partial-react-logo.png
  mobile/assets/images/react-logo.png
  mobile/assets/images/react-logo@2x.png
  mobile/assets/images/react-logo@3x.png
  mobile/assets/images/splash-icon.png
  mobile/components/Collapsible.tsx
  mobile/components/ExternalLink.tsx
  mobile/components/HapticTab.tsx
  mobile/components/HelloWave.tsx
  mobile/components/ParallaxScrollView.tsx
  mobile/components/ThemedText.tsx
  mobile/components/ThemedView.tsx
  mobile/components/ui/IconCard.tsx
  mobile/components/ui/IconSymbol.ios.tsx
  mobile/components/ui/IconSymbol.tsx
  mobile/components/ui/TabBarBackground.ios.tsx
  mobile/components/ui/TabBarBackground.tsx
  mobile/constants/Colors.ts
  mobile/eslint.config.js
  mobile/hooks/useColorScheme.ts
  mobile/hooks/useColorScheme.web.ts
  mobile/hooks/useThemeColor.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/scripts/reset-project.js
  mobile/tsconfig.json
Owners: none

feat: implementa tela inicial admin
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
Owners: none

docs: adiciona README para mobile
  mobile/README.md
Owners: none

fix: mudanças no readme
  mobile/README.md
Owners: none

feat: Adiciona o model Role
  backend/src/main/java/br/com/recycle/backend/model/Role.java
Owners: @SantoGuru

feat: diciona o menum de Role
  backend/src/main/java/br/com/recycle/backend/model/Usuario.java
Owners: @SantoGuru

Adicionando parte visual da tela de login
  mobile/app/index.tsx
Owners: none

Aprimorado o Swagger da classe SaidaController
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Owners: @SantoGuru

Adicionado tela de login
  mobile/app/auth/login.tsx
Owners: none

styles: Adicionado styles da pagina de login
  mobile/app/auth/login.tsx
  mobile/tsconfig.json
Owners: none

feat: adicionado integração do login com o backend
  mobile/app/auth/login.tsx
  mobile/config.ts
  mobile/http.ts
Owners: none

Update SaidaController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Owners: @SantoGuru

feat: implementação do model Empresa
  backend/src/main/java/br/com/recycle/backend/model/Empresa.java
Owners: @SantoGuru

feat: implementa empresa ao model do usuario
  backend/src/main/java/br/com/recycle/backend/model/Usuario.java
Owners: @SantoGuru

docs/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Owners: @SantoGuru

Create Aplicativo EcoStock - Documentação da tela de login.pdf
  docs/Aplicativo EcoStock - Documentação da tela de login.pdf
Owners: @EVANGLarissa

docs: Adiciona Swagger do Dashboard
  backend/src/main/java/br/com/recycle/backend/controller/DashboardController.java
Owners: @SantoGuru

feat: implementa a feature de role e atualiza os DTOs e Services
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
  backend/src/main/java/br/com/recycle/backend/dto/RegistroDTO.java
  backend/src/main/java/br/com/recycle/backend/repository/EmpresaRepository.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

docs: Padronizar Swagger do Estoque
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
Owners: @SantoGuru

docs:status codes (DELETE adiciona 500)
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
Owners: @SantoGuru

feat: adiciona authContext
  mobile/context/AuthContext.tsx
Owners: none

fix: configura babel
  mobile/babel.config.js
Owners: none

fix: corrige compatibilidade de versoes
  mobile/package-lock.json
  mobile/package.json
Owners: none

feat: separa rotas privadas e publicas
  mobile/app/(auth)/_layout.tsx
  mobile/app/(auth)/login.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/_layout.tsx
  mobile/context/AuthContext.tsx
Owners: none

feat: adiciona expo-secure-store para salvar sessões
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
Owners: none

feat: altera authContext para salvar dados da sessão
  mobile/app/_layout.tsx
  mobile/context/AuthContext.tsx
Owners: none

docs: adiciona orientacao para config de ip
  mobile/README.md
Owners: none

feat: add inicio.tsx
  mobile/app/(auth)/_layout.tsx
  mobile/app/(auth)/inicio.tsx
  mobile/app/_layout.tsx
Owners: none

fix: fixed login theme color
  mobile/app/(auth)/login.tsx
Owners: none

feat: adiciona tela de logout
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/(tabs)/sair.tsx
Owners: none

Add files via upload
  backend/src/main/java/br/com/recycle/backend/config/SecurityConfig.java
Owners: @SantoGuru

Add files via upload
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
Owners: @SantoGuru

Alterada a permissão de registro
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
Owners: @SantoGuru

Alterado configuração de Autorização
  backend/src/main/java/br/com/recycle/backend/config/SecurityConfig.java
Owners: @SantoGuru

feat: Home Funcionario modificada em Home
  mobile/app/(tabs)/index.tsx
  mobile/context/AuthContext.tsx
Owners: none

feat(#48): implementar verificação de roles e padronização de usuarioId
  backend/src/main/java/br/com/recycle/backend/config/MethodSecurityConfig.java
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
  backend/src/main/java/br/com/recycle/backend/controller/DashboardController.java
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/service/CustomUserDetailsService.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
  backend/src/main/java/br/com/recycle/backend/service/EstoqueService.java
  backend/src/main/java/br/com/recycle/backend/service/MaterialService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
Owners: @SantoGuru

feat(#56): adicionar endpoint para GERENTE atualizar papel (role) de usuário
  backend/src/main/java/br/com/recycle/backend/controller/UsuarioController.java
  backend/src/main/java/br/com/recycle/backend/dto/AtualizarRoleDTO.java
  backend/src/main/java/br/com/recycle/backend/dto/UsuarioResponseDTO.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

docs(#58): atualizar Swagger com requisitos de autorização por rota
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
  backend/src/main/java/br/com/recycle/backend/controller/DashboardController.java
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Owners: @SantoGuru

FEAT: Implementa Proteção Contra Brute-Force no Login
  backend/pom.xml
  backend/src/main/java/br/com/recycle/backend/security/AuthenticationFailureListener.java
  backend/src/main/java/br/com/recycle/backend/security/LoginAttemptService.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Owners: @SantoGuru

FEAT: Implementar Filtro de Segurança para Isolar Dados por Tenant
  backend/src/main/java/br/com/recycle/backend/config/SecurityConfig.java
  backend/src/main/java/br/com/recycle/backend/security/TenantSecurityFilter.java
Owners: @SantoGuru
