Repository SantoGuru/Recycle, pull requests merged in 2025-09, with the labels that each got.

#24 styles: Adicionado styles da pagina de login
  mobile/app/auth/login.tsx
  mobile/tsconfig.json
Labels: frontend

#22 docs/SaidaController
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Labels: documentation, backend

#29 feat: Adiciona o model Role
  backend/src/main/java/br/com/recycle/backend/model/Role.java
Labels: enhancement, backend

#42 Fix/versao-sdk
  mobile/babel.config.js
  mobile/context/AuthContext.tsx
  mobile/package-lock.json
  mobile/package.json
Labels: frontend

#62 Fix/login
  mobile/app/(auth)/_layout.tsx
  mobile/app/(auth)/inicio.tsx
  mobile/app/(auth)/login.tsx
  mobile/app/_layout.tsx
Labels: frontend

#65 feat: adiciona tela de logout
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/(tabs)/sair.tsx
Labels: frontend

#69 docs(#58): atualizar Swagger com requisitos de autorização por rota
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
  backend/src/main/java/br/com/recycle/backend/controller/DashboardController.java
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Labels: documentation, backend

#72 FEAT: Implementa Proteção Contra Brute-Force no Login
  backend/pom.xml
  backend/src/main/java/br/com/recycle/backend/security/AuthenticationFailureListener.java
  backend/src/main/java/br/com/recycle/backend/security/LoginAttemptService.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Labels: backend

#76 Feat/material controller
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
Labels: backend

#79 feat/feedback_de_erro
  backend/src/main/java/br/com/recycle/backend/config/SecurityConfig.java
  backend/src/main/java/br/com/recycle/backend/controller/UsuarioController.java
  backend/src/main/java/br/com/recycle/backend/dto/ApiErrorDTO.java
  backend/src/main/java/br/com/recycle/backend/security/CustomAccessDeniedHandler.java
  backend/src/main/java/br/com/recycle/backend/service/AuthService.java
Labels: backend
